In [107]:
import pandas as pd

melb_df = pd.read_csv('data/melb_data_fe.csv')
melb_df['Date']=pd.to_datetime(melb_df['Date'])
cols_to_exclude = ['Date', 'Rooms', 'Bedroom', 'Bathroom', 'Car'] 
max_unique_count = 150 
for col in melb_df.columns: #
    if melb_df[col].nunique() < max_unique_count and col not in cols_to_exclude: 
        melb_df[col] = melb_df[col].astype('category')
#display(melb_df.sort_values(by='Price').head(10))
#display(melb_df.sort_values(by='Date', ascending=False))
#display(melb_df.sort_values(by=['Distance', 'Price']).loc[::10, ['Distance', 'Price']])
"""mask1 = melb_df['AreaRatio'] < -0.8
mask2 = melb_df['Type'] == 'townhouse'
mask3 = melb_df['SellerG'] == 'McGrath'
display(melb_df[mask1 & mask2 & mask3].sort_values(
    by=['Date', 'AreaRatio'],
    ascending=[True, False],
    ignore_index=True
).loc[:, ['Date', 'AreaRatio']])"""
#display(melb_df.sort_values(by=['AreaRatio'],ascending=False, ignore_index=True).loc[1558, ['BuildingArea']])
#temp=melb_df[(melb_df['Type']=='townhouse')&(melb_df['Rooms']>2)]
#display(temp.sort_values(by=['Rooms','MeanRoomsSquare'],ascending=[True,False], ignore_index=True).loc[18, ['Price']])
#display(melb_df.groupby('Regionname')['Distance'].min().sort_values(ascending=False))
#melb_df.groupby('MonthSale')['Price'].agg(['count', 'mean', 'max']).sort_values(by='count', ascending=False)
#melb_df.groupby('MonthSale')['Price'].agg('describe')
#melb_df.groupby('Regionname')['SellerG'].agg(['nunique', set])
#melb_df.groupby('Rooms')['Price'].mean().sort_values(ascending=False)
#melb_df['Date'] = pd.to_datetime(melb_df['Date'], dayfirst=True)
#melb_df[(melb_df['Date']<'2017-09-01') & (melb_df['Date']>'2017-05-01')].groupby('SellerG')['Price'].sum().sort_values(ascending=False)
#melb_df.groupby('Rooms')[['Price', 'BuildingArea']].median()
#melb_df.groupby(['Rooms', 'Type'])['Price'].mean()
#melb_df.groupby(['Rooms', 'Type'])['Price'].mean().unstack()
#melb_df.pivot_table(values='Price', index='Rooms', columns='Type', fill_value=0).round()
#melb_df.pivot_table(values='Price', index='Regionname', columns='Weekend', aggfunc='count')
#melb_df.pivot_table(values='Landsize', index='Regionname', columns='Type', aggfunc=['median', 'mean'],fill_value=0)
#melb_df.pivot_table(values='Price', index=['Method','Type'], columns='Regionname', aggfunc='median', fill_value=0)
"""pivot = melb_df.pivot_table(
    values='Landsize',
    index='Regionname',
    columns='Type',
    aggfunc=['median', 'mean'],
    fill_value=0
)
pivot.columns
#display(pivot['mean']['unit'])
mask = pivot['mean']['house'] < pivot['median']['house']
filtered_pivot = pivot[mask]
display(filtered_pivot)"""
pivot = melb_df.pivot_table(
    values='Price',
    index='SellerG',
    columns= 'Type',
    aggfunc=['median'],
    fill_value=0
)
pivot[pivot['median']['unit']==900000]

          median
Type       house townhouse    unit
SellerG
Nick     2025000    780000  900000

In [88]:
import pandas as pd

ratings1 = pd.read_csv('data/movies_data/ratings1.csv')
ratings2 = pd.read_csv('data/movies_data/ratings2.csv')
dates = pd.read_csv('data/movies_data/dates.csv'); dates['date']=pd.to_datetime(dates['date'])
movies = pd.read_csv('data/movies_data/movies.csv')
ratings = pd.concat([ratings1, ratings2], ignore_index=True)
ratings = ratings.drop_duplicates(ignore_index=True)
ratings_dates = pd.concat([ratings, dates], axis=1)
joined = ratings_dates.join(
    movies.set_index('movieId'),
    on='movieId',
    how='left'
)
#display(joined.head())
merged = ratings_dates.merge(
    movies,
    on='movieId',
    how='left'
)
#print('Число строк в таблице ratings_dates: ', ratings_dates.shape[0])
#print('Число строк в таблице merged: ', merged.shape[0])
#print(ratings_dates.shape[0] == merged.shape[0])
merged2 = ratings_dates.merge(
    movies,
    on='movieId',
    how='outer'
)
#print('Число строк в таблице merged2: ', merged2.shape[0])
#display(merged2.tail())

import re 
def get_year_release(arg):
    #находим все слова по шаблону "(DDDD)"
    candidates = re.findall(r'\(\d{4}\)', arg) 
    # проверяем число вхождений
    if len(candidates) > 0:
        #если число вхождений больше 0,
	#очищаем строку от знаков "(" и ")"
        year = candidates[0].replace('(', '')
        year = year.replace(')', '')
        return int(year)
    else:
        #если год не указан, возвращаем None
        return 0
merged['year_release']=merged['title'].apply(get_year_release)
#merged1999=merged[merged['year_release']==1999]
#merged.groupby(['year_release', 'title'])['rating'].mean().sort_values(ascending=False)
#merged1999.groupby(['title'])['rating'].mean().sort_values(ascending=False)
#merged2010=merged[merged['year_release']==2010]
#merged.groupby(['year_release', 'title'])['rating'].mean().sort_values(ascending=False)
#merged2010.groupby('genres')['rating'].mean().sort_values(ascending=False)
#merged.groupby('userId')['genres'].agg(['nunique', set]).sort_values(by='nunique',ascending=False)
#merged.groupby('userId')['rating'].agg(['count', 'mean']).sort_values(by=['count', 'mean'],ascending=[True,False])
#merged2018=merged[merged['year_release']==2018]
#merged2018.groupby('genres')['rating'].agg(['mean', 'count']).sort_values(by=['mean','count'],ascending=[False,False])
merged['year_rating']=pd.to_datetime(merged['date']).dt.year
#merged.groupby(['year_rating','genres'])['rating'].mean().unstack()
pivot=merged.pivot_table(
    values='rating',
    index='year_rating',
    columns='genres',
    aggfunc='mean'
)
pivot['Comedy']

year_rating
1996    3.228571
1997    3.409091
1998    3.000000
1999    3.606061
2000    3.141291
2001    3.318408
2002    3.198556
2003    3.120066
2004    3.356877
2005    2.963325
2006    3.347534
2007    2.928187
2008    3.426667
2009    3.273292
2010    3.179825
2011    3.232877
2012    3.478477
2013    3.489474
2014    3.271429
2015    3.106183
2016    3.373431
2017    2.852668
2018    3.121296
Name: Comedy, dtype: float64

In [107]:
import pandas as pd

orders = pd.read_csv('data/orders_and_products/orders.csv', sep=';')
products = pd.read_csv('data/orders_and_products/products.csv', sep=';')

orders_products=orders.merge(
    products,
    on='Product_ID',
    how='inner'
)
orders_products
#orders_products.groupby(['Quantity','Price'])['Customer_ID']

,Creation_date,Order ID,Customer_ID,Status,Payed,declined,Shipped,Product_ID,Quantity,Name,Price,CURRENCY
0,09.11.2019 21:55,9,10,"Принят, ожидается оплата",Нет,Нет,Нет,103,5,"Носки Подарочные, муж",199,RUR
1,09.11.2019 12:00,6,1,"Принят, ожидается оплата",Нет,Нет,Нет,103,5,"Носки Подарочные, муж",199,RUR
2,08.11.2019 8:36,3,8,"Оплачен, формируется к отправке",Да,Нет,Нет,103,3,"Носки Подарочные, муж",199,RUR
3,09.11.2019 15:05,8,9,"Принят, ожидается оплата",Нет,Нет,Нет,86,100,"Носки Простые, муж",45,RUR
4,08.11.2019 8:36,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,86,1,"Носки Простые, муж",45,RUR
5,09.11.2019 15:05,8,9,"Принят, ожидается оплата",Нет,Нет,Нет,104,10,"Носки Подарочные, жен",249,RUR
6,09.11.2019 12:50,7,8,"Принят, ожидается оплата",Нет,Нет,Нет,104,7,"Носки Подарочные, жен",249,RUR
7,09.11.2019 12:00,6,1,"Принят, ожидается оплата",Нет,Нет,Нет,104,5,"Носки Подарочные, жен",249,RUR
8,08.11.2019 8:36,3,8,"Оплачен, формируется к отправке",Да,Нет,Нет,104,3,"Носки Подарочные, жен",249,RUR
9,08.11.2019 8:36,5,5,Отменён,Нет,Да,Нет,124,1,Носки беговые Camino,999,RUR
10,08.11.2019 8:36,4,9,"Принят, ожидается оплата",Нет,Нет,Да,91,1,"Носки Честные, муж",50,RUR
11,08.11.2019 8:36,2,7,Выполнен,Да,Нет,Да,74,1,Платье Ночная Жизнь XXXL,8999,RUR
12,08.11.2019 8:36,2,7,Выполнен,Да,Нет,Да,53,1,Штаны Цветочная Поляна,4999,RUR
13,08.11.2019 8:36,2,7,Выполнен,Да,Нет,Да,137,1,Гольфы детские Снегурочка,99,RUR
14,08.11.2019 8:36,2,7,Выполнен,Да,Нет,Да,47,1,Шатны Полосатый рейс,2999,RUR
15,08.11.2019 8:36,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,71,1,Платье Ночная Жизнь,7999,RUR
16,08.11.2019 8:36,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,51,1,Платье Аленький цветочек,4999,RUR